target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/*.png
!**/src/main/resources/architecture/*.jsd
!**/src/main/resources/architecture/*.jsc
!**/src/main/resources/architecture/*.xml

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/architecture/*.png
!**/src/main/resources/architecture/*.jsd
!**/src/main/resources/architecture/*.jsc
!**/src/main/resources/architecture/*.xml

### VS Code ###
.vscode/

### Logs ###
logs/
*.log
